.places {
    z-index: 1;
    position: fixed;
    top: 52px;
    left: 20px;
    width: 200px;
}

.place-item, 
.no-results {
    background: white;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.no-results {
    color: lightgrey
}

.place-item:hover {
    background: greenyellow;
}