.places {
    z-index: 1;
    position: fixed;
    top: 52px;
    left: 20px;
    width: 200px;
}

.place-item {
    background: white;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

.place-item:hover {
    background: pink;
}